@import "../theme";

.achievements {
  &.container {
    border: 2px solid $accentDark;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-top: 1.5em;
    background: $background;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    padding-right: 2em;
    padding-bottom: 2em;
  }

  & p,
  h2 {
    margin: 0.5em 0;
    text-decoration: underline;
  }

  &.list {
    margin: 0;
    width: auto;
    flex-direction: column;
  }
}

.achievement {
  background: lighten($background, 20);
  float: left;
  padding: 1.5em;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: row; // Changed from column to row
  align-items: center;
  margin-left: 30px;
  max-width: 500px; // Set a maximum width

  &.name {
    text-align: center;
    margin: auto;
    color: $accentDark;
    text-transform: uppercase;
  }

  &.description {
    color: $textColor;
    margin-top: 5px;
    text-align: center;
    padding: 0;
  }

  &.unlocked {
    color: gold;
    padding: 0;
  }

  &.locked {
    color: white;
    opacity: 50%;
    padding: 0;
  }
  
  &.icon {
    position: relative;
    max-width: 80px;
    max-height: 80px;
    margin: 0;
    padding: 0;

    img {
      width: 50px;
      height: 50px;
      border-radius: 25%;
      border: 5px solid rgb(26, 26, 26)
    }
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
}