@import "../theme";

.achievements {
  &.container {
    border: 2px solid $accentDark;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-top: 1.5em;
    background: $background;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    max-height: 640px;
  }


  &.list {
    padding: 0;
    margin: 0;;
    overflow-y: auto;
    width: auto;
    list-style: none;
    flex-direction: column;
    @include center;

  }
}

.achievement {
  margin-bottom: 0.5em;
  background: lighten($background, 20);
  float: left;
  padding: 2.5em;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: row; // Changed from column to row
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 450px; // Set a maximum width
  flex-wrap: wrap; // allow


  p{
    color: rgb(44, 45, 46);
    text-align: left;
    padding: 0;
    margin: 0;
    flex: 1 1 auto;
  }

  &.title {
    color: rgb(44, 45, 46);
    padding: 0;
    min-width: 300px;

  }
  &.description {
    color: $textColor;
    padding: 0;
    flex: 1 1 auto;

  }

  &.unlocked {
    color: gold;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;



  }
 
  &.locked {
    filter: grayscale(100%);
    opacity: 50%;
    padding: 8px;
    word-wrap: break-word;
    text-align: left;
    display: flex;
    color: transparent;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    img {
      filter: grayscale(100%) blur(3px);
      opacity: 50%;
    
    }
  }
  
  &.icon {
    position: relative;
    flex: 0 0 auto;
    max-width: 80px;
    max-height: 80px;
    margin: 0;
    padding: 0;

    img {
      width: 50px;
      height: 50px;
      border-radius: 25%;
      border: 5px solid rgb(26, 26, 26)
    }
  }
}

.achievement-button-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  margin-top: 2em;
  width: 100%;
}