@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.container {
    max-width: 30em;
    // padding: 1em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    box-shadow: $dropShadow;
  }
}

.wordmergebar {
  &.container {
    max-width: 25em;
    padding: 0.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #454545;
    margin: 0.5em;
    box-shadow: $dropShadow;
  }

  &.symbol {
    padding: 0.25em;
    font-size: 5em;
    text-align: center;
    display: flex;
  }
}

.wordboard {
  &.container {
    // max-width: 25em;
    padding: 0.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303030;
    margin: 0.5em;
    box-shadow: $dropShadow;
  }
}

.wordrow {
  display: flex;
  flex-direction: row;
}

.word {
  max-width: 25em;
  padding: 0.5em;
  border-radius: $borderRadius/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin: 0.5em;
  box-shadow: $dropShadow;
}