@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.base-container {
    margin: 1em auto;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.container {
    margin: 1em auto;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    box-shadow: $dropShadow;
    width: 900px;
  }
  &.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.targetword {
  &.container {
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #9b9b9b;
    margin: 1em auto;
    box-shadow: $dropShadow;
    width: 900px;
  }

  &.text {
    font-size: 4em;
    text-align: center;
    display: flex;
  }

  &.word {
    padding: 0.5em;
    border-radius: calc(#{$borderRadius}/4);
    font-size: 3em;
    height: 100%;
  }
}

.player-list {
  &.container {
    padding: 1em;
    margin: 1em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $background;
    box-shadow: $dropShadow;
  }
  &.list {
    list-style: none;
    padding-left: 0;
    text-align: center;
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.player-word {
  &.container {
    margin: 0.5em 0;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;  }
  &.player-name {
    margin-right: 10px;
    font-size: 1.5em;
    text-align: left;
    display: flex;
  }
  &.newest-word {
    font-size: 1.5em;
    text-align: left;
    display: flex;
  }
}

.wordmergebar {
  &.container {
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #454545;
    margin: 0.5em;
    box-shadow: $dropShadow;
  }

  &.symbol {
    font-size: 5em;
    text-align: center;
    display: flex;
  }
}

.wordboard {
  &.container {
    padding: 0.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    margin: 0.5em;
    box-shadow: $dropShadow;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 30em; 
  }
}

.wordrow {
  display: flex;
  flex-direction: row;
}

.word {
  padding: 0.5em;
  border-radius: calc(#{$borderRadius}/2);
  display: flex;
  align-items: center;
  margin: 0.5em;
  box-shadow: $dropShadow;
}