@import "../theme";

.info {
    &.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $accentDark;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        background: $background;
        border-radius: $borderRadius;
        box-shadow: $dropShadow;
        padding: 1.5em 2em 2em;
        height: 80vh;
        overflow-y: auto;
        word-wrap: break-word;
    }

    &.button-container {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        margin-top: 2em;
        width: 100%;
    }
}

