@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobbypage {
  &.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-top: 1.5em;
    background: $background;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    padding-right: 2em;
    padding-bottom: 2em;
  }

  & p {
    margin: 0.5em 0;
    text-decoration: underline;
  }

  & h2 {
    margin: 0.5em 0;
    text-decoration: underline;
    font-size: 30px;
    transform: translateX(15%);
  }

  &.game-and-players-container {
    justify-content: space-evenly;
  }
  @media only screen and (max-width: 780px) {
    &.container {
      padding-top: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
    }
  }

}

.gamemode {
  &.standard {
    float: left;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: block;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    @media only screen and (max-width: 768px) {
      margin-left: 0;
    }
  }

  &.container {
    display: block;
    align-items: center;
    overflow: auto; 
    text-overflow: ellipsis;
    padding-bottom: 20%;
    text-align: start;
    margin: 0.5em 0;
    width: auto;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: $borderRadius;
    flex-direction: column;
    align-items: center;
    background: lighten($background, 20);
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
    }

    &.inactive {
      cursor: default;
      transform: none;
      background: lighten($background, 10);
    }
    &.selected {
      background: lighten($background, 25);
      border: solid rgb(0, 0, 0)
    }
    @media only screen and (max-width: 900px) {
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  &.name {
    text-align: center;
    margin: auto;
    color: $accentDark;
    text-transform: uppercase;
  }

  &.description {
    max-width: 200px; /* adjust as needed */
    word-wrap: break-word;
    color: $textColor;
    margin-top: 5px;
    text-align: center;
  }

  &.list {
    list-style: none;
    padding-left: 0;
    text-align: center;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.player {
  &.container {
    margin: 0.5em 0;
    background: lighten($background, 20);
    padding: 4px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    width: 225px;
    height: 60px;
    @media only screen and (max-width: 900px) {
      width: 200px;
    }
  }

  &.list {
    list-style: none;
    padding-left: 0;
    text-align: center;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    @media only screen and (max-width: 900px) {
      max-height: 200px;
    }
  }

  &.name {
    align-content: center;
    font-weight: 300;
    margin-left: 5px;

    &.owner {
      color: Black;
    }
  }

  &.icon {
    position: relative;

    max-width: 80px;
    max-height: 80px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 25%;
      border: 5px solid rgb(26, 26, 26)
    }
  }
}


.player-list-container {
  background: darken($background, 4);
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  transform: translateY(24px);
}

.lobby-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
  align-items: center;
  padding-right: 1em;

  &.button {
    width: 240px;
    position: relative;
    transform: translateX(+8%);

    &:hover {
      transform: translate(8%, -2px)
    }
  }

  &:disabled {
    pointer-events: none;
  }
}

.edit-button{
  position: relative;
  transform: translateX(+8%);
  font-size: medium;

  &:hover {
    transform: translate(8%, -2px)
  }
}

.public-private-button {
  font-size: medium;
  position: absolute;
  top: 10px; 
  left: 10px;
  z-index: 100;

  &:hover {
    transform: translateY(-2px);
  }

}

.timer-label {
  position: absolute;
  margin: 0;
  top: 50px; 
  left: 10px;
  width: min-content;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  height: 35px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $buttonCol;
  background-color: $buttonColDark;
  transition: all 0.3s ease;
  font-family: $fontDefault;
  font-size: 14px;
  &:hover {
    transform: translateY(-2px);
  }
}

.create_lobby_without_login {
  color: rgb(118, 0, 0);
}

.option-label{
  font-size: 14px;
  font-family: $fontDefault;
}

.error-message-lobby {
  min-height: 20px;
  z-index: 999999;
  color:rgb(151, 0, 0);
  font-size: 16px;
  left: 20px;
  position: relative;
}