@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobbyoverview {
    &.container {
        z-index: 1;
        background: $background;
        padding: 1.5em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
    }

    &.lobby-list {
        list-style: none;
        padding-left: 0;
        text-align: center;
        max-height: 170px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &.user-item {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & p,
    h2 {
        margin: 0.5em 0;
    }

    @media only screen and (max-width: 768px) {
            &.container {
                    z-index: 1;
                    background: $background;
                    padding: 1.2em;
                    border-radius: $borderRadius;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: $dropShadow;
                }
    }
}

.lobby {
    &.container {
        &:hover {
            transform: translateY(-2px);
        }

        border: none;
        text-align: center;
        margin: 0.5em 0;
        width: 20em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        background: lighten($background, 10);
    }

    &.container-selected {
        text-align: center;
        margin: 0.5em 0;
        width: 20em;
        padding: 10px;
        display: flex;
        border-radius: $borderRadius;
        align-items: center;
        background: lighten($background, 25);
        border: solid rgb(0, 0, 0)

    }

    &.lobby-name {
        text-align: center;
        margin: auto;
        color: $accentDark;
        text-transform: uppercase;
    }

    &.input-container {
        text-align: center;
        margin: 0.5em 0;
        width: 20em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        background: lighten($background, 10);
        border: none;

        &.has-input {
            background: lighten($background, 25);
            border: solid rgb(0, 0, 0)

        }
    }
}

.container-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}