@import "../theme";

.fixup {
    @include center;
}


.profile {
    &.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 30em;
        height: 30em;
        font-size: 18px;
        font-weight: 300;
        padding-left: 37px;
        padding-right: 37px;
        border-radius: 0.75em;
        background-color: $background;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &.field {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.input {
        height: 35px;
        padding-left: 15px;
        margin-left: 0px;
        margin-right: 0px;
        border: none;
        border-radius: 0.75em;
        margin-bottom: 20px;
        background: transparentize(white, 0.85);
        color: $textColor;
        &.error {
            border: 1px solid red;
          }
    }

    &.label {
        color: $textColor;
        margin-left: 4px;
        margin-bottom: 10px;
        text-transform: lowercase;
        font-weight: 300;
    }

    &.button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        margin-top: 2em;
    }

    &.return-button-container {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    &.table {
        background: lighten($background, 10);
        border-radius: 0.75em;
        padding: 10px;
        padding-right: 15px;
        font-weight: bold;
    }
}

.input-css {
    border: none;
    border-radius: $borderRadius;
    padding: 1px;
    background: lighten($background, 25);
    color: inherit;

    &.error {
        border: 1px solid red;
      }
    }

.error-message {
    min-height: 20px;
    z-index: 999999;
    margin: 0;
    color:rgb(151, 0, 0)
  }