@import "../theme";

.res {
  padding-left: 0;
  z-index: 1;

  &-container {
    max-width: 300px;
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;

    .res-list {
      width: 300px;
      position: relative;
      z-index: 1;
      list-style: none;
      text-align: center;
      overflow-y: auto;

    }

    h2 {
      text-align: center;
      margin: 0.5em 0;
    }

    @media only screen and (max-width: 768px) {
      z-index: 1;
      background: $background;
      padding: 1.2em;
      border-radius: $borderRadius;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: $dropShadow;
    }
  }

  .player-container {
    z-index: 4;
    transition: transform 0.3s;
    margin: 0.5em 0;
    background: lighten($background, 20);
    padding: 4px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 200px;
    height: max-content;

    &.selected {
      background: lighten($background, 40);
      width: max-content;
      max-width: max-content;
      height: max-content;
      z-index: 10;
    }

    .player-details{
      text-align: left;
      align-items: flex-start;
    }

    .player-name {
      margin-top: 10px;
      margin-left: 5px;
    }

    .player-icon {
      position: relative;
      max-width: 80px;
      max-height: 80px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        border: 5px solid rgb(26, 26, 26);
      }
    }

    .player-info {
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}
