@import "../theme";

.server-down {
  &.container {
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.title {
    font-weight: bold;
    font-size: 48px;
    color: $background;
    text-align: center;
  }

  &.text {
    font-weight: bold;
    font-size: 24px;
    color: $background;
    text-align: center;
  }
}