// Icon.scss
@import "../theme";

.icon-button {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 60px;
    height: 60px;

    &:hover {
        transform: translateY(-2px);
    }

    &:disabled {
        cursor: default;
        opacity: 0.4;

        &:hover {
            transform: none;
        }
    }
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    .icon-svg {
        margin: 10px 15px 10px 15px;
        width: 70px; // Adjust size as needed
        height: 70px; // Adjust size as needed
    }
}

.icon-pos {
    &.container {
        position: fixed;
        top: 0;
        z-index: 0;
        max-width: 60px;
        max-height: 60px;
    }
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-20deg);}
    40% {transform: rotate(20deg);}
    60% {transform: rotate(-15deg);}
    80% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

.icon-wiggle {
    transform-origin: center center;
    animation: wiggle 1.2s ease-in-out;
}