@import "../theme";

.profilepopup {
    &.container {
        position: fixed;
        top: 55px;
        background: $background;
        padding: 1.5em;
        border-radius: $borderRadius;
        margin-top: 2em;
        min-height: 70px;
        z-index: 2;
    }

    &.profile-button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }
}