@import "../theme";

.quitpopup {
    &.container {
        z-index: 6;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: lighten($buttonColDark, 4);
        border-radius: $borderRadius;
        max-width: 240px;

        text-align: center;
    }

    h2 {
        color: lighten($buttonCol, 20);
    }

    &.button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1em;
        padding: 20px;
        align-items: center;
    }

}