/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors */

/* these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$accent: #000000;
$accentDark: #000000;
$textColor: rgb(88, 80, 133);
$background: #9b9b9b;
$buttonCol: #676767;
$buttonColDark: #2e2e2e;

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* Font Importing */
/* No need to import fonts from Google Fonts */
/* Importing local font file */
/* Adjust the path to the font file according to your project structure */
@font-face {
  font-family: 'CurrentFont';
  font-size: medium;
  src: url('./fonts/digital-7.ttf'); //Change font here!
}

/* Fonts */
/* Assign the font family to variables */
$fontDefault: 'CurrentFont', sans-serif;
$fontMono: 'CurrentFont', monospace;


/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
$borderRadius: 0.75em;

/* mixins */

/* These allow you to create small snippets that you can insert with a one-liner in other stylesheets */
/* For an example, see styles/views/Login.scss */
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}